.navbar-brand img {
    width: 200px;
}

.footer-logo img {
    height: 70px;
}

.header-wrap .header-top .header-top-right .header-top-menu li:last-child::before {
    top: 9px;
    right: 0;
    content: "";
    background-color: transparent;
    width: 1px;
    height: 12px;
}

.mr-0 {
    margin-right: 0px !important;
    padding-right: 0px !important;
}

.theme-light .header-wrap.style1 .header-bottom .header-btn .btn.style1 {
    background-color: #1E0A39;
}

.btn.style1:after,
.btn.style1:before {
    background: #e31929;
}

.theme-light .header-wrap.style1 .header-bottom .header-btn .btn.style1:after {
    background-color: #c80013;
}

.hero-img-wrap img {
    /* transform: scale(1.3); */
}

.feature-kev {
    padding: 1.2rem;
    padding-top: 1.5rem;
    background: white;
}

.feature-kev h6 {
    margin-top: 26px;
    position: relative;
    margin-bottom: 28px;
}

.feature-kev h6::before {
    content: "";
    width: 38px;
    position: absolute;
    bottom: -6px;
    height: 4px;
    background: #1e0a39;
}

.feature-kev span img {
    height: 50px;
    margin-top: 24px;
    position: relative;
}

.feature-kev span {
    position: relative;
}

.feature-kev span::before {
    left: -16px;
    top: -24px;
    background-image: url(../img/feature/icon-bg.svg);
    content: "";
    content: "";
    width: 96px;
    position: absolute;
    /* bottom: -6px; */
    height: 63px;
    /* background: #1e0a39; */
    background-repeat: no-repeat
}

.border-right {
    border-right: 1px solid #EEE7F2;
}

.feature-card-kev {
    box-shadow: 0 0 25px rgb(85 85 85 / 10%);
    position: absolute;
    top: -90px;
    background: white;
    z-index: 1;
}

.feature-cards-container {
    position: relative;
    height: 260px;
}

.feature-icon-kev {
    position: relative;
    z-index: 20;
}

.feature-icon-kev img {
    height: 65px;
    margin-bottom: 25px;
    margin-top: 35px;
    z-index: 30;
    position: relative;
}

.feature-icon-kev::before {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(214 195 224 / 43%);
    top: 31px;
    left: -14px;
    z-index: 1;
}

.fw-semibold {
    font-weight: 500;
}

.fs-xxlarge {
    font-size: xx-large;
}

.btn-outline {
    border: none;
    border-radius: 5px;
    width: 62%;
    padding: 15px;
    background-color: #E31929;
    margin: 15px 0 0;
    color: #fff;
    border: 1px solid white;
    background-color: transparent;
    height: 54px;
}

.btn.btn-outline:after,
.btn.btn-outline:before {
    background: white
}

.btn.btn-outline:hover {
    color: #1E0A39;
    font-weight: 700;
    border: none;
}

.kev-wrap {
    position: relative;
    background-image: url(../img/kev-img.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
}

.kev-wrap2 {
    position: relative;
    background-image: url(../img/kev-img2.png);
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
}

.kev-wrap3 {
    position: relative;
    background-image: url(../img/kev-img3.png);
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
}

.kev-wrap::before {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: red;
    background-image: linear-gradient(100deg, #55387B, #E31929);
    opacity: 90%;
}

.core-img img {
    height: 80px;
}