        .navbar-brand img {
            width: 200px;
        }
        
        .footer-logo img {
            height: 70px;
        }
        
        .header-wrap .header-top .header-top-right .header-top-menu li:last-child::before {
            top: 9px;
            right: 0;
            content: "";
            background-color: transparent;
            width: 1px;
            height: 12px;
        }
        
        .mr-0 {
            margin-right: 0px !important;
            padding-right: 0px !important;
        }
        
        .theme-light .header-wrap.style1 .header-bottom .header-btn .btn.style1 {
            background-color: #1E0A39;
        }
        
        .btn.style1:after,
        .btn.style1:before {
            background: #e31929;
        }
        
        .theme-light .header-wrap.style1 .header-bottom .header-btn .btn.style1:after {
            background-color: #c80013;
        }
        
        .hero-img-wrap img {
            /* transform: scale(1.3); */
        }
        
        .feature-kev {
            padding: 1.2rem;
            padding-top: 1.5rem;
            background: white;
        }
        
        .feature-kev h6 {
            margin-top: 26px;
            position: relative;
            margin-bottom: 28px;
        }
        
        .feature-kev h6::before {
            content: "";
            width: 38px;
            position: absolute;
            bottom: -6px;
            height: 4px;
            background: #1e0a39;
        }
        
        .feature-kev span img {
            height: 50px;
            margin-top: 24px;
            position: relative;
        }
        
        .feature-kev span {
            position: relative;
        }
        
        .feature-kev span::before {
            left: -16px;
            top: -24px;
            background-image: url(../img/feature/icon-bg.svg);
            content: "";
            content: "";
            width: 96px;
            position: absolute;
            /* bottom: -6px; */
            height: 63px;
            /* background: #1e0a39; */
            background-repeat: no-repeat
        }
        
        .border-right {
            border-right: 1px solid #EEE7F2;
        }
        
        .feature-card-kev {
            box-shadow: 0 0 25px rgb(85 85 85 / 10%);
            position: absolute;
            top: -90px;
            background: white;
            z-index: 1;
        }
        
        .feature-cards-container {
            position: relative;
            height: 260px;
        }
        
        .feature-icon-kev {
            position: relative;
            z-index: 20;
        }
        
        .feature-icon-kev img {
            height: 65px;
            margin-bottom: 25px;
            margin-top: 35px;
            z-index: 30;
            position: relative;
        }
        
        .feature-icon-kev::before {
            position: absolute;
            content: "";
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: rgb(214 195 224 / 43%);
            top: 31px;
            left: -14px;
            z-index: 1;
        }
        
        .fw-semibold {
            font-weight: 500;
        }
        
        .fs-xxlarge {
            font-size: xx-large;
        }
        
        .btn-outline {
            border: none;
            border-radius: 5px;
            width: 62%;
            padding: 15px;
            background-color: #E31929;
            margin: 15px 0 0;
            color: #fff;
            border: 1px solid white;
            background-color: transparent;
            height: 54px;
        }
        
        .btn.btn-outline:after,
        .btn.btn-outline:before {
            background: white
        }
        
        .btn.btn-outline:hover {
            color: #1E0A39;
            font-weight: 700;
            border: none;
        }
        
        .kev-wrap {
            position: relative;
            background-image: url(../img/kev-img.jpg);
            background-attachment: fixed;
            background-size: contain;
            background-position: center;
        }
        
        .kev-wrap-about {
            position: relative;
            background-image: url(../img/about/about-img.jpg);
            background-attachment: fixed;
            background-size: contain;
            background-position: center;
            background-repeat: repeat;
        }
        
        .kev-wrap2 {
            position: relative;
            background-image: url(../img/kev-img2.png);
            background-attachment: fixed;
            background-size: contain;
            background-position: center;
        }
        
        .kev-wrap3 {
            position: relative;
            background-image: url(../img/kev-img3.png);
            background-attachment: fixed;
            background-size: contain;
            background-position: center;
        }
        
        .kev-wrap::before {
            position: absolute;
            bottom: 0;
            right: 0;
            content: "";
            width: 100%;
            height: 100%;
            z-index: -1;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            background-color: red;
            background-image: linear-gradient(100deg, #55387B, #E31929);
            opacity: 90%;
        }
        
        .core-img img {
            height: 80px;
        }
        
        .product-img-1 {
            background-image: url("../img/products/product-1.jpg");
            background-size: cover;
            transition: 0.6s;
            /* background-repeat-x: repeat; */
            background-position: top left;
        }
        
        .product-img-2 {
            background-image: url("../img/products/product-2.jpg");
            background-size: cover;
            transition: 0.6s;
            /* background-repeat-x: repeat; */
            background-position: top left;
        }
        
        .product-img-3 {
            background-image: url("../img/products/product-3.jpg");
            background-size: cover;
            transition: 0.6s;
            /* background-repeat-x: repeat; */
            background-position: top left;
        }
        
        .product-img-4 {
            background-image: url("../img/products/product-4.jpg");
            background-size: cover;
            transition: 0.6s;
            /* background-repeat-x: repeat; */
            background-position: top left;
        }
        
        .product-img-5 {
            background-image: url("../img/products/invoice.jpg");
            background-size: cover;
            transition: 0.6s;
            /* background-repeat-x: repeat; */
            background-position: top left;
        }
        
        .product-img-6 {
            background-image: url("../img/products/purchase-order.jpg");
            background-size: cover;
            transition: 0.6s;
            /* background-repeat-x: repeat; */
            background-position: top left;
        }
        
        .product-img-7 {
            background-image: url("../img/products/salary-loan.jpg");
            background-size: cover;
            transition: 0.6s;
            /* background-repeat-x: repeat; */
            background-position: top left;
        }
        
        .product-img {
            position: absolute;
            height: 100%;
            top: 0px;
            left: 0px;
            width: auto;
            background-color: black;
            width: 100%;
            height: 100%;
        }
        
        .products-link {
            height: 0px;
            opacity: 0;
        }
        
        .product-item {
            position: relative;
            height: 500px;
            /* border: 1px solid black; */
            overflow: hidden;
            display: flex;
            align-items: end;
            color: white;
            transition: 0.8s;
        }
        
        .product-item:hover .product-img {
            transform: scale(1.5);
            transform: rotate(5deg) scale(1.5);
            transition: 0.6s;
        }
        
        .product-item p {
            transition: 0.6s;
        }
        
        .product-item:hover .product-content p {
            margin-bottom: 50px;
            transition: 0.6s;
        }
        
        .product-item:hover::before {
            background-color: rgb(0 0 0 / 90%);
            transition: 0.6s;
        }
        
        .product-item:hover .products-link {
            opacity: 1;
            height: auto;
        }
        
        .product-item::before {
            position: absolute;
            background-color: rgb(0 0 0 / 64%);
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            content: "";
            z-index: 1;
        }
        
        .product-item img {
            position: absolute;
            height: 100%;
            top: 0px;
            left: 0px;
            width: auto;
            display: none;
        }
        
        .product-content {
            z-index: 2;
            transition: 0.6s;
        }
        
        .product-container .owl-nav {
            position: absolute;
            top: 22%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            background-color: transparent;
            border: none;
        }
        
        .product-container.owl-carousel .owl-nav button.owl-prev,
        .product-container.owl-carousel .owl-nav button.owl-prev {
            left: 20px;
            box-shadow: 0 0 25px rgb(85 85 85 / 10%);
            background-color: white;
        }
        
        .product-container.owl-carousel .owl-nav button.owl-next,
        .product-container.owl-carousel .owl-nav button.owl-next {
            right: 3rem;
            position: absolute;
            box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
            background-color: white;
        }
        
        .product-container .owl-nav {
            width: 100%;
        }
        
        .product-container.owl-carousel .owl-nav button:hover {
            color: white;
            background-color: #c80013;
        }
        
        .product-container .owl-dots {
            position: absolute;
            top: 5%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 40px;
        }
        
        .product-container.owl-carousel .owl-dots button.owl-dot span {
            display: inline-block;
            width: 13px;
            height: 7px;
            border-radius: 0;
            background: #9a9cb1b0;
            position: relative;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }
        
        .product-container.owl-carousel .owl-dots button.owl-dot.active span {
            width: 28px;
            background: #ffffff;
        }
        
        .bg-primary {
            background-color: #573a7d !important;
        }
        
        .bg-secondary {
            background-color: #eb3239 !important;
        }
        
        .border-bottom-secondary {
            border-bottom: 8px solid #eb3239;
        }
        
        @media only screen and (max-width:767px) {
            .feature-icon-kev img {
                height: 50px;
            }
        }